*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Muli', sans-serif;
  background-image: url(/static/img/overlay1.png), url(/static/img/overlay2.svg), linear-gradient(#e37682, #5f4d93);
  background-color: #e37682;
  background-attachment: fixed;
  background-position: top left, center center, center center;
  background-size: auto, cover, cover;
  color: #a58fe9;
  overflow-y: scroll;
}

@media all and (max-width: 980px) {
  body {
    background-image: url(/static/img/overlay2.svg);
  }
}

html::-webkit-scrollbar {
  appearance: none;
  width: 10px;
}

html::-webkit-scrollbar-track {
  appearance: none;
  width: 10px;
  background-color: #ffffff;
}

html::-webkit-scrollbar-thumb {
  appearance: none;
  width: 10px;
  background-color: #ff6272;
}

html::-webkit-scrollbar-thumb:hover {
  appearance: none;
  width: 10px;
  background-color: #ff5566;
}

a {
  text-decoration: none;
  color: #ff5566;
}